<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form id="signup-form">
      Login: <input type="text" id="login" />
      Password: <input type="password" id="password" />
      <input type="submit" />
    </form>
  </body>
  <script defer>
    const loginForm = document.querySelector('#signup-form')
    const loginTxt = document.querySelector('#login')
    const loginPass = document.querySelector('#password')

    loginForm.addEventListener('submit', (event) => {
      event.preventDefault()
      console.log(loginTxt.value)
      fetch('https://localhost:5555/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          "username": loginTxt.value,
          "password": loginPass.value
        })
      })
      .then(resp => resp.json())
      .then(data => {
        console.log(data)
      })
    })
  </script>
</html>